html {
    background-image: linear-gradient(black, rgb(51, 51, 51), darkred, red, orangered, yellow, LightGoldenRodYellow);
    background-size: cover;
    
}

#PageWrapper {
    width: 920px;
    margin: auto;
}

/*#region Main Content */
section#MainContent {
    width: 664px;
    float: left;
    background-color: rgba(170,170,100, 0.8);
}

    section#MainContent a {
        color: #39b752;
    }

        section#MainContent a:visited {
            color: #ff0000;
            text-decoration: underline;
        }

        section#MainContent a:hover {
            color: #ffa500;
            text-decoration: underline;
        }
/*#endregion*/


aside {
    background-color: gray;
    width: 180px;
    min-height: 150px;
    max-height: 650px;
    float: left;
    border-radius: 25px;
    margin: 30px;
}

footer {
    background-color: #C0C0C0;
    width: 664px;
    clear: both;
}