

*{border: 1px solid red;}


body {
    background: linear-gradient(to bottom right, rgb(253, 253, 253), rgb(242, 234, 184), rgb(232, 212, 58), orange, tomato, rgb(103, 128, 159));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    border: 2px dashed green;
}

#PageWrapper {
    width: 920px;
    margin: auto;
    border: 2px dashed blue;
    min-height: 90vh;
}

/*#region Main Content */
section#MainContent {
    width: 664px;
    float: left;
    background-color: #6e6e6e;
    padding: 2px;
    color: #e0e0e0;
    border: 2px solid limegreen;
}

    section#MainContent a {
        color: #00ccff;
        text-decoration: none;
    }

        section#MainContent a:visited {
            color: #a40000;
            text-decoration: underline;
        }

        section#MainContent a:hover {
            color: #c90016;
            font-style: italic;
            text-decoration: none;
        }
/*#endregion*/


#logo {
    clear:both;
    align-self:center;

}

nav {
    clear:both;
}

#Sidebar {
    background-color: gray;
    width: 180px;
    min-height: 150px;
    max-height: 650px;
    float: right;
    border-radius: 25px;
    margin: 5px;
    padding:3px;
}

footer {
    background-color: #C0C0C0;
    width: 664px;
    clear: both;
}